:root {
  /* primary */
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

input::placeholder {
  font-size: 0.9rem;
}

p {
  margin: 0;
}

/* header */
header {
  overflow: hidden;
  padding: 2rem 1.5rem;
  min-height: 10vh;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

header div:nth-child(1),
header div:nth-child(2) {
  grid-column: span 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header div:nth-child(1) h1 {
  letter-spacing: 0.7rem;
  font-weight: 700;
  font-size: 1.9rem;
}

header div:nth-child(1) img {
  width: 7%;
  cursor: pointer;
  z-index: 1000;
}

header div:nth-child(2) {
  border-radius: 5px;
  padding: 1rem 1.3rem;
}
header div:nth-child(2) input {
  margin-left: 8px;
  width: 100%;
  outline: none;
  border: none;
  position: relative;
  background: none;
}

header div:nth-child(2) span,
.todos ul li span {
  cursor: pointer;
  padding: 10px;
  display: block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 1000;
}

/* todo */
.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  font-size: 0.8rem;
  margin-top: -25px;
}

.todos ul {
  padding: 0;
  width: 100%;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.todos ul li {
  width: 100%;
  display: grid;
  grid-template: 1fr / 20px auto 20px;
  justify-items: center;
  align-items: center;
  padding: 0 1.3rem;
  grid-gap: 15px;
  cursor: move;
}

ul li p {
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

.todos ul li img {
  cursor: pointer;
  width: 70%;
}

.infoTodo {
  display: grid;
  grid-template: repeat(2, 0.1fr) / repeat(2, 1fr);
  width: 100%;
  border-radius: 0 0 5px 5px;
  font-weight: 700;
}

.infoTodo #clearCompleted {
  grid-column: 2;
  grid-row: 1;
}

.infoTodo .itemLeft {
  padding-left: 1.3rem;
  border-radius: 0 0 0px 5px;
}

.infoTodo .itemLeft,
.infoTodo #clearCompleted {
  padding: 1.3rem;
}

.infoTodo #clearCompleted {
  text-align: right;
  border-radius: 0 0 5px 0px;
}

/* menuTodos */
.menuTodos {
  grid-column: span 2;
  grid-row: 2;
}

.menuTodos div {
  margin-top: 1.3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.3rem;
  border-radius: 5px;
}

.menuTodos div p {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 700;
}

/* footer */
footer {
  margin: 3rem;
  text-align: center;
  bottom: 0;
  font-size: 1rem;
}

/* states */

.active {
  background: var(--CheckBackground);
}

span {
  position: relative;
}

span.active::before {
  content: url("../images/icon-check.svg");
  display: block;
  width: 30%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.strikethrough {
  text-decoration: line-through;
}

/* active filter */
p.activeFilter {
  color: var(--BrightBlue) !important;
}

/* sortable */
.selection {
  box-shadow: 0 0 20px rgba(149, 153, 159, 0.16);
}

#content-todo li.drag {
  opacity: 0 !important;
}

#all,
#completed,
#active,
#clearCompleted {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* media queries */
@media only screen and (min-width: 600px) {
  header {
    padding: 60px 0 !important;
    min-height: 40vh;
  }

  header div:nth-child(1) h1 {
    font-size: 2.5rem;
  }

  header div:nth-child(1) img {
    width: 5%;
  }

  header div,
  .todos {
    width: 80% !important;
    margin: 0 auto !important;
    padding: 0;
  }

  .todos {
    margin-top: -50px !important;
  }

  .todos ul li,
  header div:nth-child(2) {
    padding: 1.3rem 1.5rem;
    font-size: 1.1rem;
  }

  header div:nth-child(2) input {
    font-size: 1.1rem;
  }

  span.active::before {
    top: 2px;
  }

  .infoTodo {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: none;
  }

  .infoTodo #clearCompleted {
    grid-column: 3;
    grid-row: 1;
  }

  .menuTodos {
    margin: 0;
    grid-column: 2;
    grid-row: 1;
  }

  .menuTodos div {
    margin: 0;
    border-radius: 0;
    height: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  header div,
  .todos {
    width: 50% !important;
  }
} ;
